Repository bwyap/react-boilerplate-typescript-apollo: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:tslint:fix, prettier --write, git add --force

feat: update clean script to handle new templates
  internals/scripts/clean.js
Due: none

fix: HomePage template
  internals/templates/containers/HomePage/index.ts
  internals/templates/containers/HomePage/tests/HomePage.spec.tsx
  internals/templates/containers/HomePage/tests/selectors.spec.tsx
Due: yarn lint:tslint:fix, prettier --write, git add --force

fix: update templates
  internals/templates/app.tsx
  internals/templates/containers/App/store/actions.ts
  internals/templates/containers/App/store/constants.ts
  internals/templates/containers/App/store/reducer.ts
  internals/templates/containers/App/store/typings/actions.d.ts
  internals/templates/containers/App/tests/__snapshots__/App.spec.tsx.snap
  internals/templates/containers/App/tests/actions.spec.ts
  internals/templates/containers/App/tests/reducer.spec.ts
  internals/templates/containers/HomePage/messages.ts
  internals/templates/containers/HomePage/parts/HomePage.tsx
  internals/templates/containers/HomePage/store/actions.ts
  internals/templates/containers/HomePage/store/constants.ts
  internals/templates/containers/HomePage/store/reducer.ts
  internals/templates/containers/HomePage/store/saga.ts
  internals/templates/containers/HomePage/store/selectors.ts
  internals/templates/containers/HomePage/store/typings/actions.d.ts
  internals/templates/containers/HomePage/store/typings/reducer.d.ts
  internals/templates/containers/HomePage/tests/__snapshots__/HomePage.spec.tsx.snap
  internals/templates/containers/HomePage/tests/actions.spec.ts
  internals/templates/containers/HomePage/tests/reducer.spec.ts
  internals/templates/containers/HomePage/tests/selectors.spec.ts
  internals/templates/containers/HomePage/types.d.ts
  internals/templates/containers/LanguageProvider/index.ts
  internals/templates/containers/LanguageProvider/tests/LanguageProvider.spec.tsx
  internals/templates/tests/store.test.ts
  internals/templates/translations/en.json
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: fix templates
  internals/templates/tests/store.test.ts
  internals/templates/typings/store-injected.d.ts
  internals/templates/typings/store.d.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

chore: don't collect coverage from definition files
  jest.config.js
Due: none

feat: dynamically import App on render to enable proper hot reloading
  app/app.tsx
  internals/webpack/webpack.base.js
Due: yarn lint:tslint:fix, prettier --write, git add --force

docs: update docs
  .circleci/config.yml
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/MAINTAINERS.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/css/linting.md
  docs/css/remove.md
  docs/forks/README.md
  docs/general/commands.md
  docs/general/gotchas.md
  docs/maintenance/dependency.md
  docs/ts/README.md
  docs/ts/async-components.md
  docs/ts/i18n.md
  docs/ts/immutablejs.md
  docs/ts/redux-saga.md
  docs/ts/redux.md
  docs/ts/remove.md
  docs/ts/reselect.md
  docs/ts/routing.md
  package.json
Due: prettier --write, git add --force

chore: housekeeping
  .appveyor.yml
  server/index.js
  server/logger.js
  server/middlewares/frontendMiddleware.js
Due: none

ci: move coverage commands to after_success
  .travis.yml
Due: none

fix: react-router requires mapStateToProps to update on route change
  app/containers/App/index.ts
  app/containers/App/parts/App.tsx
  app/containers/App/store/selectors.ts
  app/containers/App/tests/App.spec.tsx
  app/containers/App/tests/selectors.spec.ts
  app/containers/App/types.d.ts
  internals/templates/containers/App/index.ts
  internals/templates/containers/App/parts/App.tsx
  internals/templates/containers/App/store/selectors.ts
  internals/templates/containers/App/tests/App.spec.tsx
  internals/templates/containers/App/tests/selectors.spec.ts
  internals/templates/containers/App/types.d.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: add apollo client with examples and tests
  app/app.tsx
  app/components/ArtistsList/index.ts
  app/components/ArtistsList/parts/ArtistListItem.tsx
  app/components/ArtistsList/parts/ArtistsList.tsx
  app/components/ArtistsList/tests/__snapshots__/index.spec.tsx.snap
  app/components/ArtistsList/tests/index.spec.tsx
  app/components/ArtistsList/types.d.ts
  app/components/LoadingIndicator/parts/LoadingIndicator.tsx
  app/components/LoadingIndicator/tests/__snapshots__/index.spec.tsx.snap
  app/components/ReposList/tests/__snapshots__/index.spec.tsx.snap
  app/containers/HomePage/messages.ts
  app/containers/HomePage/parts/HomePage.tsx
  app/containers/HomePage/store/actions.ts
  app/containers/HomePage/store/constants.ts
  app/containers/HomePage/store/reducer.ts
  app/containers/HomePage/store/selectors.ts
  app/containers/HomePage/store/typings/actions.d.ts
  app/containers/HomePage/store/typings/reducer.d.ts
  app/containers/HomePage/tests/HomePage.spec.tsx
  app/containers/HomePage/tests/__snapshots__/HomePage.spec.tsx.snap
  app/containers/HomePage/tests/actions.spec.ts
  app/containers/HomePage/tests/reducer.spec.ts
  app/containers/HomePage/tests/selectors.spec.tsx
  app/containers/HomePage/types.d.ts
  app/env/configs/development.ts
  app/env/configs/production.ts
  app/env/index.ts
  app/env/types.d.ts
  app/graphql/client.ts
  app/graphql/gql/search.ts
  app/graphql/types.d.ts
  app/translations/de.json
  app/translations/en.json
  jest.config.js
  package.json
  yarn.lock
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: add templates
  app/app.tsx
  app/env/configs/production.ts
  app/graphql/gql/search.ts
  app/graphql/types.d.ts
  internals/scripts/clean.js
  internals/templates/app.tsx
  internals/templates/env/configs/development.ts
  internals/templates/env/configs/production.ts
  internals/templates/env/index.ts
  internals/templates/env/types.d.ts
  internals/templates/graphql/client.ts
  internals/templates/graphql/gql/queries.ts
  internals/templates/graphql/types.d.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

test: add test to increase coverage
  app/components/ArtistsList/tests/__snapshots__/index.spec.tsx.snap
  app/components/ArtistsList/tests/index.spec.tsx
Due: yarn lint:tslint:fix, prettier --write, git add --force

docs: update README
  README.md
Due: none

chore: update setup script
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore: update setup script
  internals/scripts/setup.js
  package.json
Due: prettier --write, git add --force

chore: fix setup script
  internals/scripts/setup.js
Due: none

docs: update documentation
  Changelog.md
  README.md
Due: none

chore: add fix to generator spacing
  internals/generators/language/polyfill-intl-locale.hbs
  internals/templates/app.tsx
Due: yarn lint:tslint:fix, prettier --write, git add --force

refactor: make test message consistent
  internals/generators/component/test.tsx.hbs
Due: none

feat: improve typings for functional component
  app/typings/component.d.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

ci: remove CircleCI
  .circleci/config.yml
  README.md
Due: none

feat: implement reducer state persistence to local storage
  app/app.tsx
  app/components/Footer/tests/index.spec.tsx
  app/components/Header/tests/index.spec.tsx
  app/components/ReposList/tests/index.spec.tsx
  app/configureStore.ts
  app/containers/LanguageProvider/tests/LanguageProvider.spec.tsx
  app/containers/LocaleToggle/tests/LocaleToggle.spec.tsx
  app/reducers.ts
  app/tests/store.test.ts
  app/typings/store.d.ts
  app/utils/combineReducers.ts
  app/utils/persistMiddleware.ts
  app/utils/reducerInjectors.ts
  app/utils/tests/combineReducers.spec.ts
  app/utils/tests/injectReducer.spec.tsx
  app/utils/tests/injectSaga.spec.tsx
  app/utils/tests/persistMiddleware.spec.ts
  app/utils/tests/reducerInjectors.spec.ts
  app/utils/tests/sagaInjectors.spec.ts
  app/utils/throttle.ts
  jest.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: update templates
  app/configureStore.ts
  internals/templates/app.tsx
  internals/templates/configureStore.ts
  internals/templates/containers/LanguageProvider/tests/LanguageProvider.spec.tsx
  internals/templates/reducers.ts
  internals/templates/tests/store.test.ts
  internals/templates/typings/store.d.ts
  internals/templates/utils/combineReducers.ts
  internals/templates/utils/persistMiddleware.ts
  internals/templates/utils/reducerInjectors.ts
  internals/templates/utils/tests/combineReducers.spec.ts
  internals/templates/utils/tests/injectReducer.spec.tsx
  internals/templates/utils/tests/injectSaga.spec.tsx
  internals/templates/utils/tests/persistMiddleware.spec.ts
  internals/templates/utils/tests/reducerInjectors.spec.ts
  internals/templates/utils/tests/sagaInjectors.spec.ts
  internals/templates/utils/throttle.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: add Storybook
  .gitignore
  .storybook/addons.js
  .storybook/config.js
  .storybook/decorators/withRouter.tsx
  .storybook/i1n8.js
  .storybook/webpack.config.js
  README.md
  internals/generators/component/class.tsx.hbs
  internals/generators/component/class.types.d.ts.hbs
  internals/generators/component/index.js
  internals/generators/component/index.ts.hbs
  internals/generators/component/stories.tsx.hbs
  internals/generators/component/test.tsx.hbs
  internals/generators/container/index.js
  package.json
  tsconfig.json
  yarn.lock
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: remove .stories from coverage
  jest.config.js
Due: none

feat: add support for static sagas
  app/configureStore.ts
  app/rootSagas.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: add util package
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore: rename renovate.json
  .renovate.json
  renovate.json
Due: prettier --write, git add --force

chore(deps): pin dependency ts-jest to 23.1.4
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update commitlint monorepo
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @types/express to v4.16.1
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @types/eslint to v4.16.6
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @types/jest to v23.3.14
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @types/lodash to v4.14.121
  package.json
  yarn.lock
Due: prettier --write, git add --force

Update Apollo GraphQL packages
  package.json
  yarn.lock
Due: prettier --write, git add --force

Update dependency @types/prettier to v1.16.1
  package.json
  yarn.lock
Due: prettier --write, git add --force

Update dependency @types/react-dom to v16.8.2
  package.json
  yarn.lock
Due: prettier --write, git add --force

Path conditions:
  yarn lint:tslint:fix: (any of: *.ts) or (any of: *.tsx)
  prettier --write: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)
  git add --force: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)
